<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/97027a57-e84f-4ec9-83e0-504fc14a04cc/resourcegroups/StoriesOfTheLand20231205155351ResourceGroup/providers/Microsoft.Web/sites/StoriesOfTheLand</ResourceId>
    <ResourceGroup>StoriesOfTheLand20231205155351ResourceGroup</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://storiesoftheland.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>caf41208-cdf5-4fb5-a555-f1d01d08beb3</ProjectGuid>
    <PublishUrl>https://storiesoftheland.scm.azurewebsites.net/</PublishUrl>
    <UserName>$StoriesOfTheLand</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>