<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Docker</WebPublishMethod>
    <PublishProvider>ContainerApp</PublishProvider>
    <ContainerResourceId>/subscriptions/25fafac9-3f9f-4a2b-aff8-936ba5831924/resourcegroups/StoriesOfTheLand20231206200631ResourceGroup/providers/Microsoft.ContainerRegistry/registries/StoriesOfTheLand20231206210401</ContainerResourceId>
    <ContainerResourceName>StoriesOfTheLand20231206210401</ContainerResourceName>
    <Subscription>Azure for Students</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>storiesoftheland20231206210401.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
    <ContainerName>storiesoftheland</ContainerName>
    <EnvironmentName>StoriesOfTheLand-env-20231206210228</EnvironmentName>
    <SiteUrlToLaunchAfterPublish>https://storiesoftheland-app-20231206210.greenrock-f1e4ba9c.eastus.azurecontainerapps.io</SiteUrlToLaunchAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/25fafac9-3f9f-4a2b-aff8-936ba5831924/resourceGroups/StoriesOfTheLand20231206200631ResourceGroup/providers/Microsoft.App/containerApps/storiesoftheland-app-20231206210</ResourceId>
    <ResourceGroup>StoriesOfTheLand20231206200631ResourceGroup</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <_TargetId>AzureContainerAppLinux</_TargetId>
  </PropertyGroup>
</Project>