@model StorisOfTheLand.Models.Specimen

@{
    ViewData["Title"] = Model.SpecimenID;
}

<h1>@Html.DisplayFor(model => model.SpecimenID)</h1>

<div>
    <dl class="row">
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpecimenDescription)
        </dd>
    </dl>    
</div>

