@model StorisOfTheLand.Models.Specimen

@{
    ViewData["Title"] = "Details";
}

@* Display the Specimen's Latin Name *@
<div class="text-center">
    @*Display For displays the model's property*@
    <div>
        <p><strong>Latin Name</strong></p>
    </div>
     @Html.DisplayFor(model => model.LatinName) 
</div>

<div>
    <dl class="row">
        <dt>
            <h3>Cultural Significance</h3>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CulturalSignificance)
        </dd>
    </dl>
</div>
