@model StoriesOfTheLand.Models.Specimen

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div class=".text-centre" style="text-align: center;">
    <h4>Specimen</h4>
    <img src="/images/@Model.SpecimenImagePath" alt="@Model.SpecimenImagePath" width="320px" class="img-thumbnail"/>
</div>

