@model StorisOfTheLand.Models.Specimen
@{
    ViewData["Title"] = "Details";
}
<h1>Details</h1>

<div class="text-centre">
     @*Display For displays the model's property, in this case, it's a Latin Name*@
    <div>
        <p><strong>Latin Name</strong></p>
    </div>

     @Html.DisplayFor(model => model.LatinName) 
    <h4>Specimen</h4>
    <img src="/images/@Model.SpecimenImagePath" alt="@Model.SpecimenImagePath" width="320px" class="img-thumbnail"/>
</div>
</div>
