@model StoriesOfTheLand.Models.Specimen

@{
    ViewData["Title"] = "Details";
}

@* Display the Specimen's Latin Name *@
<div class="text-center">
    @*Display For displays the model's property, in this case, it's a Latin Name*@
    <div>
        <h4>Specimen</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.EnglishName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.EnglishName)
            </dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.LatinName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.LatinName)
            </dd>
        </dl>

    </div>
</div>
    
     

